@import "tailwindcss";

button {
    cursor: pointer;
}

.delete-button:hover {
    color: rgb(255, 3, 3);
    transition: .3s;
}

.edit-button:hover {
    color: rgb(134, 247, 134);
    transition: .3s;
}

.add-task-button {
    font-size: 14px;
}

#app-container {
    width: 100vw;
    height: 100vh;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}
